body {
  background: #22222f;
  padding-top: 1em;
  color: #eee;
}

a, a:hover {
  cursor: pointer;
  color: #eee;
}

.base-dir-icon {
  cursor: pointer;
  vertical-align: middle;
  margin-right: .125em;
}

.browser-view {
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
}

.browser-view a {
  cursor: pointer;
  background-color: #333344;
  color: white;
  padding: 1.5em;
  margin: .5em;
  width: 12em;
  border-radius: .25em;
}

.browser-view a header {
  display: flex;
  flex-flow: row nowrap;
  margin-right: auto;
  width: 95%;
}

.browser-view a header > .glyphicon {
  padding: 0 0.5em 0 0.5em;
  margin-left: -0.5em;
  flex: 0 0;
  padding-right: 1.5em;
}

.browser-view a header span {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
  white-space: nowrap;
}

.browser-view a:hover {
  text-decoration: none;
  transition: background-color .25s;
  background: #434354;
}

.browser-view a img {
  width: 9em;
  height: 9em;
  padding: 0.2em 0 0.1em 0;
  object-fit: cover;
  margin: auto;
}

.browser-view a:not(:has(img)) {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
}

.current-dir {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row wrap;
}

.current-dir a {
  padding: 0 0.25em 0 0.25em;
}

.file-viewer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.bg-translucent {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.file-view-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  transition: width 200ms, height 200ms, left 200ms;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.file-view-img {
  position: absolute;
  height: 100%;
  inset: 0;
  /* box-shadow: 0 0 3em black; */
}

.file-view-img-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-size: 1.5em;
  /* box-shadow: 0 0 3em black; */
}

.file-view-prev, .file-view-next {
  cursor: pointer;
  opacity: .8;
  object-fit: contain;
  width: 64px;
  z-index: 1;
}

.file-view-prev:hover, .file-view-next:hover {
  background-color: rgba(0.13, 0.13, 0.19, 0.2);
  transition: ease-in-out 200ms;
  opacity: 1;
}
